/*
 * Copyright 2020 Eduardo Alveo <javialveo7@gmail.com>
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 * 
 */

*{
  box-sizing:border-box;
}

body, header, main, footer,
div, p, h1,
form, input, button, label, fieldset, legend{
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  font-size:100%;
  vertical-align:baseline;
}

/* Configuración General */
body{
  font-size:0.8em;
  font-family:Liberation Sans, Arial, sans-serif;
  color:#262626;
  background-color:#DEE2E7;
}

/* Configurando la cabecera */
.cabecera{
  display:flex;
  justify-content:space-around;
  background-color:#21385D;
  border-bottom:1px solid #3B4C6A;
  color:#FFFFFF;
}

.cabecera h1{
  padding:0.5em;
  font-size:1.26em;
}

.cabecera p{
  padding:0.8em 0;
}

/* Configurando el contenido de la app */
.contenido{
  width:100%;
  margin-bottom:2em;
}

.seccion{
  display:flex;
  margin:auto;
  width:50%;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
  border:1px solid #0F2141;
}

.miApp{
  margin-top:4em;
  padding:1em;
  border-radius:1em;
  box-shadow:4px 5px 0.5em #2E3848;
  color:#fff;
  background-color:#416196;
}

.miApp p{
  width:100%;
  padding:0.6em;
  text-align:center;
  font-size:1.22em;
}

.miApp > p{
  font-weight:600;
}

.miApp fieldset{
  border:1px solid #0F2141;
  padding:0.8em;
  margin-bottom:1em;
  border-radius:5px;
  background-color:rgba(0,0,0,0.3);
}

.miApp legend{
  padding:0.5em;
}

.miApp input{
  vertical-align:middle;
}

.miApp input[type="number"]{
  padding:0.5em;
  border:1px solid #0F2141;
  border-radius:5px;
}

.miApp label{
  display:inline-block;
  padding:0.5em;
}

.miApp div{
  width:100%;
  text-align:center;
}

.miApp span{
  display:block;
  margin:auto;
  padding:0.8em;
}

.miApp span:first-child{
  font-weight:600;
}

.miApp span[id="zonaClaves"]{
  width:40%;
  background-color:rgba(0,0,0,0.3);
  border:1px solid #0F2141;
  border-radius:5px;
}

.miApp button{
  padding:1em;
  border-radius:6px;
  color:white;
  background-color:#112446;
  cursor:pointer;
}

#frmCaracteres{
  display:none;
}

/* Configurando el pie de la web */
.pie{
  position:absolute;
  width:100%;
  bottom:0;
  background-color:#416196;
  color:#fff;
}

.pie div{
  padding:1em;
  text-align:center;
}

@media screen and (max-width:600px)
{
  .seccion{
    width:82%;
  }
  .miApp span[id="zonaClaves"]{
    width:80%;
  }
}
