/*
 * Copyright 2020 Eduardo Alveo <javialveo7@gmail.com>
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 * 
 */

*{
  box-sizing:border-box;
}

body, header, main, footer,
div, p, h1,
form, input, button, label, fieldset, legend{
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  font-size:100%;
  vertical-align:baseline;
}

/* Configuración General */
body{
  display:flex;
  flex-direction:column;
  font-size:0.8em;
  font-family:Liberation Sans, Arial, sans-serif;
}

/* Configurando cabecera web */
.cabecera{
  display:flex;
  justify-content:space-around;
  background-color:#f1f1f1;
  border-bottom:1px solid #d5d5d5;
}

.cabecera h1{
  padding:0.5em;
  font-size:1.26em;
}

.cabecera p{
  padding:0.8em;
}

/* Configurando contenido web */
.contenido{
  display:flex;
  margin:1em 0;
  justify-content:space-around;
}

.seccion{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}

.miApp{
  width:90%;
  padding:1em;
  background-color:#eee;
  border:1px solid #888;
  border-radius:5px;
}

.miApp p{
  width:100%;
  padding:0.2em;
  margin-bottom:1em;
  text-align:center;
  font-size:1.22em;
  color:#333;
}

.miApp form[id=frmCaracteres]{
  display:none;
}

.miApp fieldset{
  margin-bottom:1em;
  padding:1em;
  border:1px solid #888;
}

.miApp legend{
  display:inline-block;
  padding:0.3em;
  border:1px solid #888;
}

.miApp input[type="checkbox"]{
  vertical-align:middle;
}

.miApp input[type="number"]{
  border:1px solid #d5d5d5;
  padding:0.5em;
}

.miApp label{
  display:inline-block;
  padding:0.4em;
}

.miApp div{
  width:100%;
  text-align:center;
}

.miApp div span{
  display:inline-block;
  padding:0.8em;
}

.miApp span[id="zonaClaves"]{
  border:1px solid #888;
  width:30%;
  background-color:#d5d5d5;
  border-radius:6px;
}

.boton{
  display:inline-block;
  margin:1em 0;
  padding:1em;
  /*border:1px solid #131C33;*/
  border-radius:6px;
  cursor:pointer;
  background-color:#0b96df;
  font-weight:600;
  color:white;
}

.boton:active{
  background-color:#1C92D0;
}

/* Configurando pie de la web */
.pie{
  display:flex;
  justify-content:space-around;
}

.pie div{
  padding:0.5em;
}

@media screen and (min-width:900px)
{
  .seccion{
    width:50%;
  }
}

@media screen and (max-width:900px)
{
  .miApp div span:first-child{
    width:100%;
  }
  .miApp div span[id="zonaClaves"]{
    width:70%;
  }
}
